# Importing Libraries

In [1]:
from sklearn.datasets import load_iris
import pandas as pd
from random import shuffle
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

# Loading the Dataset

In [2]:
data = load_iris()

In [3]:
dir(data)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [4]:
df = pd.DataFrame(data.data, columns=data.feature_names)

In [5]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [6]:
df["target"] = data.target

In [7]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

# Checking Missing Values

In [8]:
df.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

# Shuffling the Dataframe

In [9]:
df = df.sample(frac=1).reset_index(drop=True)

In [10]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,6.7,3.1,5.6,2.4,2
1,5.7,2.8,4.1,1.3,1
2,6.5,3.2,5.1,2.0,2
3,4.7,3.2,1.3,0.2,0
4,7.7,2.8,6.7,2.0,2
...,...,...,...,...,...
145,6.5,3.0,5.5,1.8,2
146,4.9,3.1,1.5,0.1,0
147,4.9,3.6,1.4,0.1,0
148,5.4,3.9,1.7,0.4,0
149,6.0,2.7,5.1,1.6,1

# Preparing the Data

In [11]:
X = df.drop(columns="target").values
y = df["target"].values

# Splitting the Dataset

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=7)

# Creating Model for the Class Imported

In [13]:
model = RandomForestClassifier(n_estimators=50)

# Train the Model

In [14]:
model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=50)

# Predict the Output

In [15]:
y_pred = model.predict(X_test)

# Comapre Actual with Prediction

In [16]:
comparision_df = pd.DataFrame()

In [17]:
comparision_df["actual"] = y_test
comparision_df["prediction"] = y_pred

In [18]:
comparision_df

    actual  prediction
0        1           2
1        1           1
2        0           0
3        0           0
4        2           2
5        1           1
6        2           2
7        0           0
8        0           0
9        2           2
10       1           1
11       2           2
12       2           2
13       1           2
14       2           2
15       2           2
16       0           0
17       2           2
18       0           0
19       0           0
20       2           1
21       0           0
22       0           0
23       1           1
24       2           2
25       0           0
26       1           1
27       2           2
28       1           1
29       2           2

# Calculating the accuracy

In [19]:
model.score(X_test, y_test)

0.9